body{
    background: #BDBDBD;
}

.bg {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    margin-right: 15%;
    margin-top: -6%;
    float: right;

}

.ag {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    margin-right: 7%;
    margin-top: -6%;    
    float: left;
}

.container {
    margin: 0 auto;
    text-align: center;
}