

<div class="carousel">
<div class="d-flex flex-row flex-nowrap overflow-auto">
    <div class="card card-block mx-2" style="min-width: 300px;">
     <img class="card-igimg-top h-50" src="assets/img/starscream.jpg" alt="Card image cap">
<div class="card-body">
<h5 class="card-title">Starscream</h5>
<p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
<p class="card-text"><small class="text-muted">Appearance: Transformers 1987</small></p>
</div>
</div>
    <div class="card card-block mx-2" style="min-width: 300px;">
      <img class="card-img-top h-50" src="assets/img/ratchet.jpg" alt="Card image cap">
<div class="card-body">
<h5 class="card-title">Ratchet</h5>
<p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
<p class="card-text"><small class="text-muted">Appearance: Transformers 1987</small></p>
</div>
    </div>
    <div class="card card-block mx-2" style="min-width: 300px;">
    <img class="card-img-top h-50" src="assets/img/jazz.jpg" alt="Card image cap">
<div class="card-body">
<h5 class="card-title">Jazz</h5>
<p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
<p class="card-text"><small class="text-muted">Appearance: Transformers 1987</small></p>
</div>
    </div>
    <div class="card card-block mx-2" style="min-width: 300px;">
      <img class="card-img-top h-50" src="assets/img/elita1.jpg" alt="Card image cap">
<div class="card-body">
<h5 class="card-title">Elita One</h5>
<p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
<p class="card-text"><small class="text-muted">Appearance: Transformers 1987</small></p>
</div>
      </div>
    <div class="card card-block mx-2" style="min-width: 300px;">
      <img class="card-img-top h-50" src="assets/img/chromia.jpg" alt="Card image cap">
<div class="card-body">
<h5 class="card-title">Chromia</h5>
<p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
<p class="card-text"><small class="text-muted">Appearance: Transformers 1987</small></p>
</div>
    </div>
    
          <div class="card card-block mx-2" style="min-width: 300px;">
      <img class="card-img-top h-50" src="assets/img/arcee.jpg" alt="Card image cap">
<div class="card-body">
<h5 class="card-title">Arcee</h5>
<p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
<p class="card-text"><small class="text-muted">Appearance: Transformers 1987</small></p>
</div>
    </div>
</div>
</div>