<div class="container-fluid p-0">
    <div class="row">
        <div class="col-6 p-0">
            <img class="w-100" src="assets/img/soundwave_website.jpeg">
        </div>
        <div class="col-6">
            <h4>THE BEST DECEPTICON OF ALL TIME</h4>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corporis accusamus facilis porro accusantium
                cum? Aspernatur dolores, cum quo, illum natus saepe necessitatibus, qui at aliquid ducimus voluptatum
                consequuntur? Tempora, perspiciatis?</p>
        </div>
    </div>

    <div class="row">

        <div class="col-6">
            <h4>THE WORST DECEPTICON OF ALL TIME</h4>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corporis accusamus facilis porro accusantium
                cum? Aspernatur dolores, cum quo, illum natus saepe necessitatibus, qui at aliquid ducimus voluptatum
                consequuntur? Tempora, perspiciatis?</p>
        </div>
        <div class="col-6 p-0">
            <img class="w-100" src="assets/img/galvatron_website.jpeg">

        </div>
    </div>

</div>