<div class="container">
    <div class="row">
        <div class="col-md-6">
            <img src="assets/img/soundwave_website.jpeg" alt="" class="w-100 h-100 image" />   
        </div>
        <div class="col-md-6">
            <div class="row align-items-center h-100">
                <div class="col">
                    <h1 class="display-3">Soundwave</h1>
          <p class="lead">Soundwave (aka Soundblaster) is one of Megatron's most reliable troops, and he has positioned himself comfortably and irreplaceably in the Decepticon upper command structure. Though "only" Communications Officer, Soundwave stands at Megatron's side as a confidant, comparable in rank to Starscream and Shockwave, but unlike them, entirely loyal to his leader.
             </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
       <div class="col-md-6 order-md-6">
        <img src="assets/img/galvatron_website.jpeg" alt="" class="w-100" />    
       </div>
       <div class="col-md-6 order-md-1">
           <div class="row align-items-center h-100">
               <div class="col">
                <h1 class="display-3">Galvatron</h1> 
                <p class="lead">Whether he's born from the fires of Unicron himself, an ancient Transformer warlord, or something else altogether, one thing is always certain: Galvatron is a focal point of power and madness given form. He is blind to all but his lust for power; his whims and desires can be sacrificed in a moment's rage.
                </p> 
               </div>
           </div>
       </div>
    </div>
</div>