<div class="carousel">
<div class="d-flex flex-row flex-nowrap overflow-auto">
    <div class="card card-block mx-2" style="min-width: 300px;">
     <img class="card-img-top h-50" src="assets/img/starscream.jpg" alt="Card image cap">
<div class="card-body">
<h5 class="card-title">Starscream</h5>
<p class="card-text">Commonly referred to as second command, Starscream wants nothing more than to be
  leader of the Decepticons but he is never taken seriously as he always retreats when the battle becomes difficult. 
</p>
<p class="card-text"><small class="text-muted">Appearance: Transformers 1987</small></p>
</div>
</div>
    <div class="card card-block mx-2" style="min-width: 300px;">
      <img class="card-img-top h-50" src="assets/img/ratchet.jpg" alt="Card image cap">
<div class="card-body">
<h5 class="card-title">Ratchet</h5>
<p class="card-text">
    Although he's a healer, Ratchet often finds himself on the front lines of combat and, on occasion, the last hope the Autobots have. These pressures are sometimes too much for him to handle, but Ratchet ultimately never gives up.
</p>
<p class="card-text"><small class="text-muted">Appearance: Transformers 1987</small></p>
</div>
    </div>
    <div class="card card-block mx-2" style="min-width: 300px;">
    <img class="card-img-top h-50" src="assets/img/jazz.jpg" alt="Card image cap">
<div class="card-body">
<h5 class="card-title">Jazz</h5>
<p class="card-text"> It is not a matter of ego—he just really is the coolest head for the toughest missions. Jazz's ease extends to whatever environment he finds himself in. He effortlessly tunes into the local culture, assimilating and improvising.
<p class="card-text"><small class="text-muted">Appearance: Transformers 1987</small></p>
</div>
    </div>
    <div class="card card-block mx-2" style="min-width: 300px;">
      <img class="card-img-top h-50" src="assets/img/elita1.jpg" alt="Card image cap">
<div class="card-body">
<h5 class="card-title">Elita One</h5>
<p class="card-text">Elita One leads the Female Autobots in a desperate gamble to keep Cybertron out of the hands of the Decepticons. She is sometimes the wielder of a great special power. Sadly, this ability drains all of her life force.</p>
<p class="card-text"><small class="text-muted">Appearance: Transformers 1987</small></p>
</div>
      </div>
    <div class="card card-block mx-2" style="min-width: 300px;">
      <img class="card-img-top h-50" src="assets/img/chromia.jpg" alt="Card image cap">
<div class="card-body">
<h5 class="card-title">Chromia</h5>
<p class="card-text">Chromia is a seasoned, tough-as-nails infiltrator. She can also be fiercely protective, which makes her an exceptional bodyguard. Her rough edges often find her a kinship with other security officers such as Ironhide.</p>
<p class="card-text"><small class="text-muted">Appearance: Transformers 1987</small></p>
</div>
    </div>
    
          <div class="card card-block mx-2" style="min-width: 300px;">
      <img class="card-img-top h-50" src="assets/img/arcee.jpg" alt="Card image cap">
<div class="card-body">
<h5 class="card-title">Arcee</h5>
<p class="card-text">Arcee is a ruthless and deadly warrior who's an expert in hand-to-hand combat and one of the best sharpshooters on record. The reason for her ferocity is how much she cares for her fellow Autobots and especially the humans they protect.</p>
<p class="card-text"><small class="text-muted">Appearance: Transformers 1987</small></p>
</div>
    </div>
</div>
</div>